.header-section-group-info {
	display: flex;
	gap: 16px;
	justify-content: space-between;

	&-month {
		display: flex;
		flex-direction: column;

		&-amount {
			font-size: 1.4rem;
		}
	}

	&-total {
		display: flex;
		flex-direction: column;

		&-amount {
			font-size: 1.1rem;
		}
	}

	.label {
		font-size: 0.75rem;
	}
}

.header-section-tab {
	margin-top: 16px;
	text-align: center;
}

.detail-section {
	height: calc(100vh - 248px);
	overflow-y: auto;
	padding: 0 16px;
}

.mat-button-toggle-group {
	height: 32px;
	border-radius: 16px;
	align-items: center;
}

.expense-record-container {
	margin-bottom: 16px;

	.month-group {
		font-weight: 500;
		font-size: 0.9rem;
		margin: 8px 0;
	}

	>mat-divider {
		margin: 8px 16px;
	}

	.expense-record {
		text-decoration: none;
		color: inherit;
		display: grid;
		grid-template-columns: 0.5fr 0.5fr 2.75fr 1.25fr;
		grid-gap: 8px;
		width: 100%;
		margin: 0 8px;
		align-items: center;

		.expense-date {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-month {
				font-size: 0.6rem;
			}

			&-date {
				font-size: 1.1rem
			}
		}

		.expense-desc {
			display: flex;
			flex-direction: column;

			&-where {
				font-size: 0.6rem;
			}
		}

		.expense-amount {
			display: flex;
			flex-direction: column;

			&-paid-by {
				font-size: 0.6rem;
			}
		}
	}
}

.loading-spinner {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;

	&-text {
		font-size: 0.6rem;
	}
}