<app-layout headerHeight="160px" [pageTitle]="group?.name ?? ''">
	<div section="header" class="header-section">
		<div class="header-section-group-info">
			@if (group) {
				<img width="50" height="50" [src]="getGroupImage(group.imageUrl).src"
					[alt]="getGroupImage(group.imageUrl).alt" />

				<div class="header-section-group-info-month">
					<span class="header-section-group-info-month-amount">
						&#8377; {{getCurrentMonthTotal}}
					</span>
					<span class="label">this month</span>
				</div>

				<div class="header-section-group-info-total">
					<span class="header-section-group-info-total-amount">
						&#8377; {{group.groupTotal}}
					</span>
					<span class="label">total</span>
				</div>
			}
		</div>

		<div class="header-section-tab">
			<mat-button-toggle-group [(value)]="selectedTab" hideSingleSelectionIndicator="true">
				<mat-button-toggle value="expense">Expense</mat-button-toggle>
				<mat-button-toggle value="summary">Summary</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>

	<div section="detail" class="detail-section" #scrollContainer (scroll)="onScroll()">
		@if (selectedTab === "expense") {
			<div class="expenses-area">
				@for (kvp of groupedExpenses | keyvalue: noSort; track kvp) {
					<div class="expense-record-container">
						<div class="month-group">{{ kvp.key | date: "MMMM yyyy" | uppercase }}</div>
						@for (expense of kvp.value; track expense) {
							<a class="expense-record" [routerLink]="['/group', group?.id, 'expense', expense.id]">
								<span class="expense-date">
									<span class="expense-date-month">{{expense.expenseDate | date: "MMM" | uppercase}}</span>
									<span class="expense-date-date">{{expense.expenseDate | date: "dd"}}</span>
								</span>
								<mat-icon>{{getCategory(expense?.category ?? 0)?.icon}}</mat-icon>
								<span class="expense-desc">
									<span>{{expense.description}}</span>
									@if (expense.where) {
									<span class="expense-desc-where">at {{expense.where}}</span>
									}
								</span>
								<span class="expense-amount">
									<span class="expense-amount-paid-by">{{expense.paidBy.split(' ')[0]}} paid</span>
									&#8377;
									{{expense.amount}}
								</span>
							</a>
							@if ($index !== kvp.value.length - 1) {
								<mat-divider></mat-divider>
							}
						}
					</div>
				}
			</div>
		} @else {
			Summary
		}

		@if(loading) {
			<div class="loading-spinner">
				<mat-progress-spinner diameter="15" mode="indeterminate"></mat-progress-spinner>
				<span class="loading-spinner-text">loading...</span>
			</div>
		}
	</div>
</app-layout>