.header-section {
    display: flex;
    justify-content: space-between;

    > a {
        > img {
            border-radius: 100%;
        }
    }
}

.addGroup {
    position: fixed;
    right: 20px;
    bottom: 20px;
}