/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
	overscroll-behavior-y: contain;
}

mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px !important;
}

.text-center {
    text-align: center;
}

.mat-bottom-sheet-container {
    border-radius: 32px 32px 0 0;
}

.rounded-button {
    border-radius: 16px !important;
    width: 300px;
    text-align: center;
}