.header-section {
    margin: -16px;
    padding: 16px 16px 0 16px;

    &-group-info {
        margin: 0 16px;
        display: flex;
        gap: 16px;
    }

    &-tab {
        margin-top: 16px;
        text-align: center;
    }
}

.detail-section {
    height: calc(100vh - 176px);
}

.mat-button-toggle-group {
    border-radius: 16px;
}

.mat-button-toggle-group {
    height: 32px;
    align-items: center;
  }