<app-layout>
    <div section="header" class="header-section">
        <app-page-nav-header
            backRoute="/home" 
            [title]="$group()?.name"
            endRoute="/home"
            endIcon="settings">
        </app-page-nav-header>

        <div class="header-section-group-info">
            @if ($group()) {
                <img
                    width="50"
                    height="50"
                    [src]="getGroupImage($group()?.imageUrl).src"
                    [alt]="getGroupImage($group()?.imageUrl).alt" />
                
                <span>Total Balance</span>
            }
        </div>

        <div class="header-section-tab">
            <mat-button-toggle-group [(value)]="selectedTab">
                <mat-button-toggle value="expense">Expense</mat-button-toggle>
                <mat-button-toggle value="summary">Summary</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div section="detail" class="detail-section">
        <mat-card-content>
            @if (selectedTab === "expense") {
                Expenses
            } @else {
                Summary
            }
        </mat-card-content>
    </div>
</app-layout>